.blog-wrap_container {
    margin: 5rem auto 6rem;
    padding: 0rem;
    width: 90%;
}

.blog-wrap {
    max-width: 75%;
    margin: auto;
}

.blogBody-blog_img {
    width: 100%;
    object-fit: contain;
}

.blog-headerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-wrap header {
    text-align: left;
    position: relative;
}

.blog-title {
    margin: 1rem auto 0;
    font-weight: 700;
}

.blog-desc {
    margin-top: 1.5rem;
    width: 85%;
}

.blogsBody-subpara {
    font-size: 1.3rem;
}

/* hygraph texts styling */
.blog-desc p {
    font-size: 1.1rem;
    margin: 0rem 0 2rem;
}

.blogsBody-subpara ul {
    list-style: disc;
    margin: 1rem 0 1rem 1rem;
}

.blogsBody-blog_heading {
    font-size: 1.6rem;
    margin: 1.5rem 0 0rem;
}

.blogsBody-blog_img {
    width: 100%;
    margin: 1rem 0;
}

@media screen and (max-width: 450px) {
    .blog-wrap_container {
        margin-top: 2rem;
    }

    .blog-wrap {
        max-width: 100%;
    }

    .blog-headerbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-title {
        font-size: 2.3rem;
    }

    .blogBody-blog_img {
        width: 100%;
        display: block;
        margin: auto;
    }

    .blog-desc {
        width: 100%;
    }

}